{%load static%}
<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/parametres.css' %}">
        <title>Lacfom</title>


    </head>

    <header>
        <h3>Modification des paramètres</h3>
    </header>

    <body>
        
        <form>
            <div class="parametre-detection-contamination">
                <h2>Paramètres de détection de contamination</h2>
                <div id="nombre-marqueurs">
                    <p>Nombre minimum de marqueurs informatifis contaminés (défaut : 2)</p>
                    <label for="nmarqueurs">N: </label>
                    <input type="number" name="nmarqueurs" value="2">
                </div>

                <div id="hauteur-pics">
                    <p>Hauteur des pics disciminant un allèle contaminé d'un allèle normal (défault : 1/3)</p>
                    <label for="hpics">H: </label>
                    <input type="text" name="hpics" value="1/3"> <!--Besoin de convertir le text en int dans le code-->
                </div>
            </div>

            <div class="parametre-editeur">
                <h2>Paramètre éditeur</h2>
                <div id="emetteur">
                    <label for="emet">Emetteur (défaut : PBP-P2A-GEN) : </label>
                    <input type="text" name="emet" value="PBP-P2A-GEN">
                </div>
                <div id="entite">
                    <label for="enti">Entité d'application (défaut : PBP-PTBM) : </label>
                    <input type="text" name="enti" value="PBP-PTBM">
                </div>
            </div>

            <div class="bouton-parametres d-flex justify-content-center gap-3">
                <button type="button" onclick="window.location.href='{% url 'index' %}'" class="btn btn-outline-secondary">Annuler</button>

                <!-- <button type="submit">Réinitialiser</button> -->
                <input type="reset" value="Réinitialiser" class="btn btn-outline-warning">

                <button type="submit" class="btn btn-outline-success">Valider</button>
                    
            </div>
        </form>
    </body>

</html>
</html>