{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/colors.css' %}">
    <link rel="stylesheet" href="{% static 'css/resultats.css' %}">
    <title>{{ nom_projet }}</title>
</head>
<body>
    <header class="header-flex">
        <h1>Page des résultats</h1>
        <div class="btn-grp">
            <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown">Fichier</button>
            <div class="dropdown-menu">
                <!-- La nouvelle analyse se lance sans bouton de validation et dans un nouvel onglet-->
                <form id="upload-new-file" action="{% url 'importer_fichier' %}"method="post" enctype="multipart/form-data" target="_blank">
                    {% csrf_token %}
                    <label for="new-file">Nouvelle analyse</label>
                    <input type="file" name="fichier" id="new-file"accept=".txt" class="form-control" onchange="this.form.submit()">
                </form>
            </div>
            
            <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown">Options</button>
            <div class="dropdown-menu">
                <form action="{% url 'afficher_importation' %}">
                    <button class="dropdown-item">Visualiser les résultats</button>
                </form>
                <form action="{% url 'changer_parametres' %}">
                    <button class="dropdown-item">Paramètres</button>
                </form>
            </div>

        </div>

        
        </div>
    </header>

    <div class="informations">
        <div class="identification"> 
            <ul>
                <li>Echantillon : {{ nom_projet}}</li> 
                <li>Num Foetus : {{ num_foetus }} </li>
                 <li>Num Mère : {{ num_mere }}</li>
                 <li>Num Père : {{ num_pere }}</li>
            </ul>

        </div>
        <div class="infos-foetus">
            <li>Sexe foetus : {{sexe}}</li>
        </div>

        <div class="infos">
            <ul>
                {% if is_tpos %}
                <li>Témoin positif : <img src="{% static 'images/check.png' %} " alt="check" width="15"> </li>
                {% else %}
                <li>Témoin positif : <img src="{% static 'images/cross.png' %} " alt="croix" width="15"> </li>
                {% endif %}

                {% if is_tneg %}
                <li>Témoin négatif : <img src="{% static 'images/check.png' %} " alt="check" width="15"> </li>
                {% else %}
                <li>Témoin négatif : <img src="{% static 'images/cross.png' %} " alt="croix" width="15"> </li>
                {% endif %}

                <li>Concordance Mère/Foetus : {{concordance_mere_foet}}</li>
                <li>Concordance Père/Foetus : {{concordance_pere_foet}}</li>
            </ul>
        </div>
    </div>
    
    <div class="resultats">
        <table class="table"> <!-- TODO Vérifier les fichiers pour voir s'il y en a pas avec des Détails P_F-->
            <thead>
                <tr>
                  <th>Marqueur</th>
                  <th>Conclusion</th>
                  <th>Détails</th>
                </tr>
            </thead>
            <tbody>
                {% for ligne in dict_resultat %}
                <tr class="{% if ligne.Conclusion == 'Non contaminé' %}ligne-non-contamine{% endif %}">
                    <td>{{ ligne.Marqueur }}</td>
                    <td class="{% if ligne.Conclusion == 'Contaminé' %}texte-contamine{% endif %}">{{ ligne.Conclusion }}</td>
                    <td>{{ ligne.Détails_M_F }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        
    </div>
    
    <div class="conclusion">
        <div class="conclusion-finale">
            <p>Le prélèvement foetal est : </p>
            <form action="{% url 'attribution_origine' %}" method="post">
                {% csrf_token %}
                <div class="radio-toggle">
                    <input type="radio" id="non-contamine" name="contamination" value="non-contamine"
                    {% if not is_conta %}checked{% endif %} onchange="envoyerContamination('non-contamine')">
                    <label for="non-contamine">Non contaminé</label>
                    
                    <input type="radio" id="contamine" name="contamination" value="contamine"
                    {% if is_conta %}checked{% endif %} onchange="envoyerContamination('contamine')">
                    <label for="contamine">Contaminé</label>
                </div>
            </form>
        </div>
        
        <div class="exportation">
            <a href="{% url 'exportation_pdf' %}" target="_blank">
                <button type="submit">Export PDF </button>
            </a>
        </div>
        
        <div class="details-conta">
            <table class="table table-responsive table-striped">
                <tr>
                    <td>Nombre de marqueurs informatifs non contaminés : </td>
                    <td style="color: var(--pomme);">{{nb_marqueurs_informatifs_non_contaminés}}</td>
                </tr>
                <tr>
                    <td>Nombre de marqueurs informatifs contaminés : </td>
                    <td style="color: var(--rouge);">{{nb_marqueurs_informatifs_contaminés}}</td>
                </tr>
                <tr>
                    <td>Moyenne % contamination : </td>
                    {% if is_conta %}
                    <td style="color: var(--rouge);">{{moyenne_conta}}</td>
                    {% else %}
                    <td style="color: var(--pomme);">{{moyenne_conta}}</td>
                    {% endif %}
                    
                </tr>
            </table>

        </div>
    </div>

    <div class="parametres">
        <p>Nombre minimum de marqueurs informatifs contaminés : {{N}}</p>
        <p>Hauteur de pics discriminant un allèle contaminé d'un allèle normal : {{H}}</p>
    </div>

</body>

<script>
    function envoyerContamination(valeur) {
        fetch("{% url 'change_radio_selection' %}", {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
                "X-CSRFToken": "{{ csrf_token }}"
            },
            body: JSON.stringify({ contamination: valeur })
        })
        .then(response => response.json())
        .then(data => {
            console.log("Réponse du serveur :", data);
        })
        .catch(error => console.error("Erreur :", error));
    }
    </script>
    
</html>