{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lacfom</title>

    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
    
</head>
<body>
    <header>
        <h1>Contenu du fichier</h1>
    </header>
    
    <a href="{% url 'traiter_choix' %}" id="Retour">Retour</a>
    {% if contenu %}

    <pre>{{ contenu }}</pre>
    {% else %}

    <p>Aucun fichier importé.</p>
    {% endif %}

</body>
</html>