<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <title>Accueil - LacFoM</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'CSS/style.css' %}" />
    <script src="{% static 'scripts/script.js' %}"></script>
  </head>
  <body>
    <div class="accueil-container">
      <h1 class="accueil-title">
        Bonjour {{ nom_utilisateur|default:"[nom d'utilisateur]" }}
      </h1>

      <!-- Logo principal -->
      <div class="accueil-logo-container">
        <img
          src="{% static 'images/logo.png' %}"
          alt="Logo LacFoM"
          class="accueil-logo"
        />
      </div>

      <!-- Sous-titre / phrase de bienvenue -->
      <p class="accueil-soustitre">
        Bienvenue dans LacFoM, votre assistant d'analyse facile et rapide<br />
      </p>

      <!-- Zone des boutons -->
      <div class="accueil-boutons">
        <div class="buttons-container">
          <label class="accueil-btn">
            <img
              src="{% static 'images/txt.png' %}"
              alt="Icon Choisir un fichier"
              class="icon-btn"
            />
            <span>Choisir un fichier</span>
            <input
              type="file"
              name="fichier"
              id="file-input"
              style="display: none"
              onchange="displayFileName(this)"
            />
          </label>

          <!--la page du manuel -->
          <a href="{% url 'manual' %}" class="accueil-btn">
            <img
              src="{% static 'images/guide.png' %}"
              alt="Icon Manuel"
              class="icon-btn"
            />
            <span>Manuel d'utilisation</span>
          </a>
        </div>
        <div class="flie-name-container">
          <span>Fichier séléctionné : </span
          ><span style="font-weight: bold" id="file-name"></span>
        </div>
      </div>

      <!-- Pied de page -->
      <footer class="accueil-footer">
        <p>
          © 2025 LacFoM – Version 6.0.1 &nbsp;|&nbsp;
          <a href="#">Aide</a>
          &nbsp;|&nbsp;
          <a href="#">Support technique</a>
        </p>
      </footer>
    </div>
  </body>
</html>
