@import url('https://fonts.googleapis.com/css2?family=Pathway+Gothic+One&family=Special+Gothic+Condensed+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+Antique&display=swap');

/********************* Stylisation du tableau du header *********************/
header{
    background-color: var(--primary-color);
    width: 100%;
    color: whitesmoke;
    padding: 0.4rem;
    font-family: "Pathway Gothic One", sans-serif;
}

.header-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.4rem;
}

.header h1{
    font-size: 20px;
    margin-left: 0.7rem;
    margin-top: 0.2rem;
    font-size: 1.5rem;
}

img {
    background-color: #FFFAFA;
    border : solid 2px black;
    border-radius: 100%;
    margin-right: 1%;
}

.btn-grp{
    display: flex;
    gap:0.5rem;
}

h3{
    margin-left: 1rem;
}

body{
    height: 100%;
    margin: auto;
    padding: auto;
    font-family: "Zen Kaku Gothic Antique", sans-serif;
    font-size: 1.3rem;
    background-color: #FFFAFA;

}

table {
    background-color: #FFFAFA;
    font-family: "Zen Kaku Gothic Antique", sans-serif;
}

table tr {
    height: 7rem; 
}

th, td {
    background-color: #FFFAFA !important;
}

.modal-overlay {
    position: fixed;
    top: 69px;
    left: 0;
    width: 100vw;
    height: calc(100vh - 69px); /* N'inclut pas la hauteur du header */
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000
}

.modal-content {
    background-color: white;
    padding: 2rem;
    border-radius: 10px;
    max-width: 600px;
    width: 90%;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.modal-overlay h3{
    color: var(--rouge);
    font-style: bold;
}