@import url('https://fonts.googleapis.com/css2?family=Pathway+Gothic+One&family=Special+Gothic+Condensed+One&display=swap');

/********************* Stylisation du tableau du header *********************/
header{
    background-color: var(--primary-color);
    width: 100%;
    color: whitesmoke;
    padding: 0.4rem;
}

.header-flex{
    display: flex;
    justify-content: left;
    gap: 2%;
}

.header h1{
    font-size: 20px;
    margin-left: 0.7rem;
    margin-top: 0.2rem;
    font-family: "Special Gothic Condensed One", sans-serif;
    font-size: 1.5rem;
}

.btn-grp{
    display: flex;
    gap:0.5rem;
}

h3{
    margin-left: 1rem;
}

body{
    height: 100%;
    margin: auto;
    padding: auto;
    font-family: "Pathway Gothic One", sans-serif;
    font-size: 1.5rem;
    background-color: #FFFAFA;

}

table {
    background-color: #FFFAFA;
}

table tr {
    height: 7rem; 
}

th, td {
    background-color: #FFFAFA !important;
}
