@import url('https://fonts.googleapis.com/css2?family=Pathway+Gothic+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+Antique&display=swap');

/* TODO modifier l'écartement des paramètres */

header {
    background-color: var(--primary-color);
    width: 100%;
    padding: 0.7rem;
    top: 0;
    font-family: "Pathway Gothic One", sans-serif;
}

header h3 {
    margin-left: clamp(0.3rem, 1vw, 1rem);
    margin-top: clamp(0.1rem, 0.5vh, 0.5rem);
    color: whitesmoke;
    font-size: clamp(1rem, 1.2vw, 1.5rem);
}

.section-header {
    background-color: var(--bleuet);
    font-weight: bold;
    font-size: clamp(1.2rem, 1.5vw, 1.8rem);
    margin-bottom: 1rem;
}


h2 {
    text-align: center;
    text-transform: uppercase;
    font-family: "Pathway Gothic One", sans-serif;
    font-size: clamp(1.5rem, 2vw, 2.5rem);
    
    
}


body {
    margin: auto;
    padding: auto;
    font-family: "Zen Kaku Gothic Antique", sans-serif;
    font-size: clamp(1rem, 1.2vw, 1.2rem);
    background-color: #FFFAFA;

}

#nombre-marqueurs,#emetteur {
    margin-bottom: 1rem;
}

.parametre-detection-contamination,.parametre-editeur, .changement-kit {
    margin-top: clamp(3rem, 6vh, 5rem);
    margin-left: clamp(1rem, 3vw, 3rem);
}

.bouton-parametres {
    margin-top: clamp(4rem, 10vh, 10rem);
}

a {
    margin-left: clamp(0.5rem, 1vw, 1rem);
}