@import url('https://fonts.googleapis.com/css2?family=Pathway+Gothic+One&family=Special+Gothic+Condensed+One&display=swap');

/********************* Stylisation du tableau du header *********************/
header{
    background-color: var(--primary-color);
    width: 100%;
    color: whitesmoke;
    padding: 0.4rem;
}

.header-flex{
    display: flex;
    justify-content: left;
    gap: 2%;
}

.header h1{
    font-size: 20px;
    margin-left: 0.7rem;
    margin-top: 0.2rem;
    font-family: "Special Gothic Condensed One", sans-serif;
    font-size: 1.5rem;
}

.btn-grp{
    display: flex;
    gap:0.5rem;
}


body{
    height: 100rem;
    margin: auto;
    padding: auto;
    font-family: "Pathway Gothic One", sans-serif;
    font-size: 1.5rem;
    background-color: #FFFAFA;
}

/********************* Stylisation du tableau de resultat de l'analyse *********************/
.resultats {
    margin:auto;
    padding: 1rem;
    max-width: 75%;
    box-sizing: border-box;
    text-align: center;
}

.resultats table.table {
    margin: auto;
    align-items: center;
    border-collapse: collapse;
    width: 80%;
    border: 3px solid var(--primary-color);
} 

.resultats thead th {
    background-color: var(--primary-color); 
    color: white;
    padding: 10px;
    text-align: center;
}

.resultats td:hover {
    background-color: var(--bs-secondary);
}

/* Ligne entière verte si "Non contaminé" */
.ligne-non-contamine {
    background-color: var(--vert-deau) !important;
    font-weight: bold;

}

/* Texte rouge pour les conclusions contaminées */
.texte-contamine {
    color: var(--rouge);
    font-weight: bold;
}

.informations, .conclusion, .parametres{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items: center;
    padding: 1rem;
    margin-left: 7.5%;
    margin-right: 7.5%;
}


.identification{
    columns: 2;
    column-gap: 2rem;
}

.infos {
    border-width: 5px;
    border-style: double;
    border-color: var(--primary-color);
    columns: 2;
    column-gap: 0rem;
    padding-right: 2.5%;
}

.identification li, .infos li,.infos-foetus li {
    list-style: none;
}

.details-conta{
    max-width: 50%;
}

.conclusion-finale,.details-conta{
    margin: auto;
}

.conclusion-finale{
    margin-top: 0;
}

.conclusion-finale input{
    text-align: center;
    width: 100%;
    /* max-width: 50%; */

}

/******************** Stylisation des boutons contaminé - non contaminé ********************/
.radio-toggle {
    display: flex;
    gap: 0;
}

.radio-toggle input[type="radio"] {
    display: none;
}

.radio-toggle label {
    padding: 0.5rem 1.5rem;
    cursor: pointer;
    background-color: #ccc;
    border: 1px solid #aaa;
    font-weight: bold;
    transition: background-color 0.2s ease;
    border-radius: 0;
}

.radio-toggle label:first-of-type {
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}

.radio-toggle label:last-of-type {
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}

/* État sélectionné */
#non-contamine:checked + label {
    background-color:var(--pomme); /* vert */
    color: white;
}

#contamine:checked + label {
    background-color: var(--rouge); /* rouge */
    color: white;
}

/******************** Stylisation du bouton d'exportation ********************/

.exportation {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%; /* TODO Le bouton est au milieu des 2 résultats et le tableau de droite le suit avec la margin-top*/
}

.exportation button {
    background-color: var(--primary-color);
    color: white;
    width: 100%;

}

.exportation button:hover {
    background-color: var(--primary-softer-color);
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);

}