@import url('https://fonts.googleapis.com/css2?family=Pathway+Gothic+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pathway+Gothic+One&family=Special+Gothic+Condensed+One&display=swap');


body {
    height: 100%;
    text-align: center;
    font-family: "Pathway Gothic One", sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
}


.Bienvenue{
    padding-top: 5rem;
    position: relative;
    font-family: "Special Gothic Condensed One", sans-serif;
    color: var(--primary-color);

}

.logo{
    position: absolute;
    top : 10rem;
    right:44%;
    
}
.Message-bienvenue{
    margin-top: 20rem;
    font-family: "Special Gothic Condensed One", sans-serif;

}

#Importation{
    padding-top: 1rem;
}

.toast-header{
    font-size: 1.5rem;

}
.toast-body{
    font-size: 1.2rem;
}


#Autres{
    display: flex;
    margin-top: 5rem;
}

#Autres form {
    display: inline-block;
}

footer {
    margin-top: 12rem; 
    position: absolute;
    bottom: 0; left: 0;right: 0;
    padding: 0.6rem;
    background-color: var(--bleuet);
}